// Here you can add other styles
.card-header
{
  background: #20a8d8;
  color: #fff;
  font-size: 18px;
}

.aside-menu .tab-content{
	height: 100%;
	overflow: auto;

}
label{
	text-transform:capitalize; 
}

input[type='file']
{
	    padding: 3px !important;
}