<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <!-- msg -->
      <div class="alert alert-success" *ngIf="OrderStatus">{{OrderStatus.message}}</div>
      <!-- msg -->

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Order Details
        </div>
       <!--  <div class="order_box" *ngIf="OrderDetails">
          <ul>
            <li *ngIf="OrderDetails[0].order_id"><span>Order Id</span>{{OrderDetails[0].order_id}}</li>
            <li *ngIf="OrderDetails[0].createdAt"><span>Order Date</span> {{OrderDetails[0].createdAt | date:'dd/mm/yy'}}</li>
            <li *ngIf="OrderDetails[0].id"><span>Table Number</span>{{OrderDetails[0].id}}</li>
          </ul>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
          <table class="table" style="max-width:1500px;">
            <thead>
              <tr>

                <th>Order #</th>
                <th>Table #</th>
                <th>Items</th>
                <th>Qty.</th>
                <th>Status</th>
                <th>Remark</th>
                <th>Rate <span>(<i class="fa fa-rupee"></i>)</span></th>
                <th style="text-align: right;">Amount <span>(<i class="fa fa-rupee"></i>)</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let data of OrderDetails.data' style="position: relative;">

                <td>{{OrderDetails.Orderdata[0].order_id}}</td>
                <td>{{OrderDetails.Orderdata[0].stid}}</td>
                <td>{{data.item_name}}</td>
                <td>{{data.item_qty}}</td>
                <td>
                  <!-- <span class="badge badge-success">{{data.status}}</span> -->
                  <span class="badge badge-danger" *ngIf="data.status=='Cancelled'">{{data.status | uppercase}}</span>
                  <span class="badge badge-warning" *ngIf="data.status=='Pending'">{{data.status | uppercase}}</span>
                  <span class="badge badge-success" *ngIf="data.status=='Completed'">{{data.status | uppercase}}</span>
                  <span class="badge badge-primary" *ngIf="data.status=='Served'">{{data.status | uppercase}}</span>
                </td>
                <td>{{data.remarks}}</td>
                <td>{{data.price | number:'1.2-2'}}</td>
                <td align="right">{{(data.item_qty*data.price) | number:'1.2-2'}}</td>
                <!-- <td class="actions_main">
	                  <a title="Edit"><i class="fa fa-edit"></i></a>
	                  <a title="Delete"><i class="fa fa-trash"></i></a>
	                  <a title="View Detail" [routerLink]="[data.id]"><i class="fa fa-eye"></i></a>
	                </td> -->
              </tr>
              
             
              <tr *ngIf="OrderDetails.Orderdata">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <th colspan="1" style="text-align: right;" ><span>Sub Total</span></th>
                <th style="text-align: right;" >{{OrderDetails.Orderdata[0].total_amt}}</th>
              </tr> 
              <tr *ngIf="OrderDetails.Orderdata">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <th colspan="1" style="text-align: right;" >Tax</th>
                <th style="text-align: right;" >{{OrderDetails.Orderdata[0].tax_amt}}</th>
              </tr>
              <tr style="background: #efefef; text-transform: uppercase;" *ngIf="OrderDetails.Orderdata">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                
                <th>Total Items {{OrderDetails.Orderdata[0].item_total}}</th>
                <th colspan="1" style="text-align: right;" ><span *ngIf="OrderDetails.Orderdata[0].status=='Completed'"> Total Amount</span></th>
                <th style="text-align: right;" ><span *ngIf="OrderDetails.Orderdata[0].status=='Completed'">{{OrderDetails.Orderdata[0].grand_total}}</span></th>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="button_groups" *ngIf="OrderDetails.Orderdata">
            <div *ngIf="OrderDetails.Orderdata[0].status!='Completed'">
              <a [routerLink]="['/dashboard/order/complete-orders/',OrderDetails.data[0].order_id]" class="btn btn-success" *ngIf="OrderDetails.Orderdata[0].status=='Pending'"><i class="fa fa-check"></i> Complete Order</a>
              <!-- <button type="button" class="btn btn-warning" *ngIf="OrderDetails.Orderdata[0].status=='Pending'"><i class="fa fa-edit"></i> Edit Order</button> -->
              <button type="button" class="btn btn-danger" (click)="CancelOrder(OrderDetails.data[0].order_id)" *ngIf="ServedStatus!=true && OrderDetails.Orderdata[0].status!='Cancelled'"><i class="fa fa-times"></i> Cancel Order</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
