@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";

/*input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/

/*.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}*/

label.report_head {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 15px;
}