<!-- delete model -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Do you really want to delete this category?</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="dangerModal.hide()" style="border-radius: 0px;">No</button>
        <button type="button" class="btn btn-danger" style="border-radius: 0px;" (click)="ConfirmDialog(catId,true)">Yes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- delete model -->

<div class="animated fadeIn">
  <div [ngClass]="{'ShowBox':Enlarge==true, 'HideBox':Enlarge==false}" class="d-none" (click)="HideImage($event)">
      <div style="position: relative;">
        <span class="cross_icon" (click)="HideImage($event)">&times;</span>
        <img [src]="ImageUrl" alt="Enlarge Image" (click)="$event.stopPropagation()">
      </div>
  </div>
  <ng4-loading-spinner></ng4-loading-spinner>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Categories
        </div>
        <!-- modal  -->
        <div class="add_box">
          <div class="button_control">
            <button type="button" class="btn btn-secondary sub_btn" data-toggle="modal" (click)="ShowModelAdd()">
              <i class="fa fa-plus"></i> Add Category
            </button>
          </div>
          <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="modal_heading">Add Category</h3>
                  <div class="alert alert-success" *ngIf="AddCatMsg!=null">Category has been added successfully</div>
                  <form [formGroup]="AddForm" (ngSubmit)="AddCategories(AddForm)" *ngIf="AddCatMsg==null">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-4">
                          <label>Outlet Name</label>
                          <select formControlName="ol_id" class="form-control">
                            <option value="">Select Outlet</option>
                            <option value="1" [selected]="model.ol_id=='1'">Papa Rancho</option>
                            <option value="2" [selected]="model.ol_id=='2'">Trance</option>
                          </select>
                          <div *ngIf="AddForm.controls['ol_id'].touched && !AddForm.controls['ol_id'].valid">
                            <label *ngIf="AddForm.controls['ol_id'].hasError('required')" style="color:red;">Select Outlet Name</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label>Category Type</label>
                          <select formControlName="cat_type" class="form-control" (change)="SetAlcholic($event.target.value)">
                            <option value="" [selected]="true">Select Category Type</option>
                            <option *ngFor="let cat of category_type  " [value]="cat">{{cat}}</option>
                          </select>
                          <div *ngIf="AddForm.controls['cat_type'].touched && !AddForm.controls['cat_type'].valid">
                            <label *ngIf="AddForm.controls['cat_type'].hasError('required')" style="color:red;">Select Category Type</label>
                          </div>
                        </div>
                          <div class="col-md-4">
                          <label>Category Title</label>
                          <input type="text" formControlName="cat_title" class="form-control">
                          <div *ngIf="AddForm.controls['cat_title'].touched && !AddForm.controls['cat_title'].valid">
                            <label *ngIf="AddForm.controls['cat_title'].hasError('required')" style="color:red;">Enter category title</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <!-- <div class="col-md-6">
                          <label>Parent Id</label>
                          <input type="number" formControlName="parent_id" class="form-control">
                          <div *ngIf="AddForm.controls['parent_id'].touched && !AddForm.controls['parent_id'].valid">
                            <label *ngIf="AddForm.controls['parent_id'].hasError('required')" style="color:red;">Enter Parent Id</label>
                          </div>
                        </div> -->
                      
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Image Name</label>
                          <input type="text" formControlName="cat_img_name" class="form-control">
                          <div *ngIf="AddForm.controls['cat_img_name'].touched && !AddForm.controls['cat_img_name'].valid">
                            <label *ngIf="AddForm.controls['cat_img_name'].hasError('required')" style="color:red;">Enter Image Name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="">Category Image</label>
                          <!-- <input type="text" formControlName="cat_img_url" class="form-control"> -->
                          <!-- <button (click)="fileInput.click()" class="btn btn-primary"><i class="fa fa-upload"></i>Upload Image</button> -->
                          <input type="file" class="form-control" (change)="onFileChange($event)" #fileInput formControlName="cat_img_url" accept="image/*" ImageTypeValidator>
                          <div *ngIf="AddForm.controls['cat_img_url'].touched && !AddForm.controls['cat_img_url'].valid">
                            <label *ngIf="AddForm.controls['cat_img_url'].hasError('required')" style="color:red;">Please select image</label>
                            <label *ngIf="AddForm.controls['cat_img_url'].hasError('ImageTypeValidator')" style="color:red;">Incorrect Format</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Is Alcoholic?</label>
                          <select formControlName="isAlcoholic" class="form-control" [attr.disabled]="AlStatus">
                            <option value="">Is Alcoholic?</option>
                            <option value="true">Yes</option>
                            <option value="false" [selected]="AlStatus">No</option>
                          </select>
                          <div *ngIf="AddForm.controls['isAlcoholic'].touched && !AddForm.controls['isAlcoholic'].valid">
                            <label *ngIf="AddForm.controls['isAlcoholic'].hasError('required')" style="color:red;">Select Is Alcoholic Status</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="status">Status</label>
                          <select formControlName="status" class="form-control">
                            <option value="" [selected]="true">Status</option>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="INACTIVE">INACTIVE</option>
                          </select>
                          <div *ngIf="AddForm.controls['status'].touched && !AddForm.controls['status'].valid">
                            <label *ngIf="AddForm.controls['status'].hasError('required')" style="color:red;">Select Status</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                          <button type="submit" class="sub_btn btn btn-success" [disabled]="!AddForm.valid"><i class="fa fa-plus"></i> Add Category</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- modal -->
        <div class="card-body">
          <div class="alert alert-success" *ngIf="DeleteCatMsg!=null">Category has been deleted</div>
          <div class="row justify-content-end">
            <div class="col-3">
              <div class="input-group searchBox" style="margin-bottom: 10px;">
                <input class="form-control" placeholder="Search Here..." [(ngModel)]="searchCat">
                <!-- <div class="input-group-addon"><i class="fa fa-search"></i></div> -->
              </div>
            </div>
          </div>
          <!-- {{categories | json}} -->
          <table class="table">
            <thead>
              <tr>
                <!-- <th></th> -->
                <th>Outlet Name</th>
                <th>Category Type</th>
                <th>Category Title</th>
                <th>Is Alcoholic?</th>
                <th>Category Image</th>
                <!-- <th>Modified Date</th> -->
                <!-- <th>Created Date</th> -->
                <th>Actions</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngIf="(categories | filter:searchCat).length===0">
                <td><h3>No Records Found!</h3></td>
              </tr>
              <tr *ngFor='let data of categories | filter:searchCat | paginate: { itemsPerPage: 10, currentPage: p}'>
                <!-- <td>
                  <input type="checkbox" name="checkbox">
                </td> -->
                <td>
                  <span *ngIf="data.ol_id=='1'">PAPA RANCHO</span>
                  <span *ngIf="data.ol_id=='2'">TRANCE</span>
                </td>
                <td>{{data.cat_type}}</td>
                <td width="20%" style="word-break: break-all;">{{data.cat_title | uppercase}}</td>
                <td><span *ngIf="data.isAlcoholic=='true'">Yes</span><span *ngIf="data.isAlcoholic=='false'">N/A</span></td>
                <td><img [src]="data.cat_img_url" alt="image" height="50" style="max-width:80px; cursor: pointer;" (click)="ScaleImg(data.cat_img_url, $event)"></td>
                <!-- <td>{{data.modifydt | date: 'dd/MM/yyyy'}}</td> -->
                <!-- <td>{{data.createdt | date: 'dd/MM/yyyy'}}</td> -->
                <td>
                  <span title="Edit" style="font-size: 16px;
                  margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" data-toggle="modal" (click)="show(data, largeModal1)"><i class="fa fa-edit"></i></span>
                  <!-- <span title="Delete" style="font-size: 16px;
                  margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" (click)="DeleteCategory(data.icid)"><i class="fa fa-trash"></i></span> -->
                  <span title="Delete" style="font-size: 16px;
                  margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" (click)="ConfirmDialog(data.icid)"><i class="fa fa-trash"></i></span>
                  <span class="badge" [ngClass]="{'badge-success': data.status=='ACTIVE','badge-danger': data.status=='INACTIVE'}"><i class="fa fa-times" *ngIf="data.status=='INACTIVE'"></i>
                      <i class="fa fa-check" *ngIf="data.status=='ACTIVE'"></i>
                    </span>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
          <!--  <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
        <!-- edit modal -->
        <!-- modal  -->
        <div class="add_box">
          <div class="button_control">
          </div>
          <div bsModal #largeModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (onShown)='Edit($event)'>
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="modal_heading">Edit Categories</h3>
                  <div class="alert alert-success" *ngIf="UpdateCatMsg!=null">Category has been updated successfully</div>
                  <form [formGroup]="EditForm" (ngSubmit)="UpdateCategory(EditForm)" *ngIf="UpdateCatMsg==null">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6" style="display: none !important;">
                          <label>Category Id</label>
                          <input type="number" formControlName="icid" class="form-control" [ngModel]="model.icid">
                          <div *ngIf="EditForm.controls['icid'].touched && !EditForm.controls['icid'].valid">
                            <label *ngIf="EditForm.controls['icid'].hasError('required')" style="color:red;">Enter Category Id</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label>Outlet Name</label>
                          <select formControlName="ol_id" class="form-control" [(ngModel)]="model.ol_id">
                            <option value="">Select Outlet</option>
                            <option value="1" [selected]="model.ol_id=='1'">Papa Rancho</option>
                            <option value="2" [selected]="model.ol_id=='2'">Trance</option>
                          </select>
                          <div *ngIf="EditForm.controls['ol_id'].touched && !EditForm.controls['ol_id'].valid">
                            <label *ngIf="EditForm.controls['ol_id'].hasError('required')" style="color:red;">Select Outlet Name</label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label>Category Type</label>
                          <select formControlName="cat_type" class="form-control" [(ngModel)]="model.cat_type">
                            <option value="" [selected]="true">Select Category Type</option>
                            <option *ngFor="let cat of category_type  " [value]="cat">{{cat}}</option>
                          </select>
                          <div *ngIf="EditForm.controls['cat_type'].touched && !EditForm.controls['cat_type'].valid">
                            <label *ngIf="EditForm.controls['cat_type'].hasError('required')" style="color:red;">Select Category Type</label>
                          </div>
                        </div>
                         <div class="col-md-4">
                          <label>Category Title</label>
                          <input type="text" formControlName="cat_title" class="form-control" [ngModel]="model.cat_title">
                          <div *ngIf="EditForm.controls['cat_title'].touched && !EditForm.controls['cat_title'].valid">
                            <label *ngIf="EditForm.controls['cat_title'].hasError('required')" style="color:red;">Enter category title</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                       <!--  <div class="col-md-6">
                          <label>Parent Id</label>
                          <input type="number" formControlName="parent_id" class="form-control" [ngModel]="model.parent_id">
                          <div *ngIf="EditForm.controls['parent_id'].touched && !EditForm.controls['parent_id'].valid">
                            <label *ngIf="EditForm.controls['parent_id'].hasError('required')" style="color:red;">Enter Parent Id</label>
                          </div>
                        </div> -->
                       
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Image Name</label>
                          <input type="text" formControlName="cat_img_name" class="form-control" [ngModel]="model.cat_img_name">
                          <div *ngIf="EditForm.controls['cat_img_name'].touched && !EditForm.controls['cat_img_name'].valid">
                            <label *ngIf="EditForm.controls['cat_img_name'].hasError('required')" style="color:red;">Enter Image Name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="">Category Image</label>
                          <input type="file" class="form-control" (change)="onFileChange($event)" #fileInput formControlName="cat_img_url" accept="image/*" ImageTypeValidator>
                          <div *ngIf="EditForm.controls['cat_img_url'].touched && !EditForm.controls['cat_img_url'].valid">
                            <label *ngIf="EditForm.controls['cat_img_url'].hasError('required')" style="color:red;">Please select image</label>
                            <label *ngIf="EditForm.controls['cat_img_url'].hasError('ImageTypeValidator')" style="color:red;">Incorrect Format</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Is Alcoholic?</label>
                          <br>
                          <select formControlName="isAlcoholic" class="form-control" [(ngModel)]="model.isAlcoholic" [attr.disabled]="model.cat_type=='FOOD'?true:null">
                            <option value="">Is Alcoholic?</option>
                            <option [value]="true" [selected]="model.isAlcoholic=='true'">Yes</option>
                            <option [value]="false" [selected]="model.isAlcoholic=='false' || model.cat_type=='FOOD'">No</option>
                          </select>
                          <div *ngIf="EditForm.controls['isAlcoholic'].touched && !EditForm.controls['isAlcoholic'].valid">
                            <label *ngIf="EditForm.controls['isAlcoholic'].hasError('required')" style="color:red;">Select Drink Type</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="status">Status</label>
                          <select formControlName="status" class="form-control" [(ngModel)]="model.status">
                            <option value="">Status</option>
                            <option value="ACTIVE" [selected]="model.status=='ACTIVE'">ACTIVE</option>
                            <option value="INACTIVE" [selected]="model.status=='INACTIVE'">INACTIVE</option>
                          </select>
                          <div *ngIf="EditForm.controls['status'].touched && !EditForm.controls['status'].valid">
                            <label *ngIf="EditForm.controls['status'].hasError('required')" style="color:red;">Select Status</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                          <button type="submit" class="sub_btn btn btn-success" [disabled]="!EditForm.valid"><i class="fa fa-edit"></i> Update Category</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- modal -->
        <!-- edit modal -->
      </div>
    </div>
  </div>
</div>
