.table_list
{
    list-style-type: none;
    padding: 0;
    
}
.table_list li{
    display: inline-block;
    width: 18%;
    
    text-align: center;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;

}
.free{
    background: #5cb85c;
    border:1px solid #4cae4c;
    cursor: pointer;
}
.booked{
    background-color: #d9534f;
    border-color:1px solid #d43f3a;
    cursor: pointer;
    
}