<div class="table_layout row">
  <!-- model -->
  <div class="add_box">
    
    <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="modal_heading">Add Service Table</h3>

                    <div class="alert alert-success" *ngIf="AddTableMsg!=null">{{AddTableMsg}}</div>
                    <form [formGroup]="AddTable" (ngSubmit)="AddServiceTable(AddTable)">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Outlet Name</label>
                                    <select formControlName="ol_id" class="form-control">
                                      <option value="" [selected]="true">Select Outlet</option>
                                      <option value="1">Papa Rancho</option>
                                      <option value="2">Trance</option>
                                    </select>
                                    <div *ngIf="AddTable.controls['ol_id'].touched && !AddTable.controls['ol_id'].valid">
                                        <label *ngIf="AddTable.controls['ol_id'].hasError('required')" style="color:red;">Select Outlet Name</label>
                                        <!-- <label *ngIf="AddTable.controls['ol_id'].hasError('min')" style="color:red;">Id Starts from 0</label> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Service Table Number</label>
                                    <input type="number" formControlName="srtbl_no" class="form-control" TableValidator>
                                    <div *ngIf="AddTable.controls['srtbl_no'].touched && !AddTable.controls['srtbl_no'].valid">
                                        <label *ngIf="AddTable.controls['srtbl_no'].hasError('required')" style="color:red;">Enter service table number</label>
                                        <label *ngIf="AddTable.controls['srtbl_no'].hasError('min')" style="color:red;">Number starts from 0</label>
                                        <label *ngIf="AddTable.controls['srtbl_no'].hasError('TableValidator') && !AddTable.controls['srtbl_no'].hasError('required')" style="color:red;">Table Already Exists!</label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Number of Chairs</label>
                                    <input type="number" formControlName="seat_cap" class="form-control">
                                    <div *ngIf="AddTable.controls['seat_cap'].touched && !AddTable.controls['seat_cap'].valid">
                                        <label *ngIf="AddTable.controls['seat_cap'].hasError('required')" style="color:red;">Enter Number of Chairs</label>
                                        <label *ngIf="AddTable.controls['seat_cap'].hasError('min')" style="color:red;">Add atlest one chair</label>
                                        <label *ngIf="AddTable.controls['seat_cap'].hasError('max')" style="color:red;">Max 10 chairs Allowed!</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Table Avalibility</label>
                                    <select formControlName="is_available" class="form-control">
                                        <option value="" [selected]="true">Table Avalibility</option>
                                        <option value="FREE">Free</option>
                                        <option value="BOOKED">Booked</option>
                                        <option value="PARTIALY BOOKED">Partialy Booked</option>
                                        <option value="LOCKED">Locked</option>
                                    </select>
                                    <div *ngIf="AddTable.controls['is_available'].touched && !AddTable.controls['is_available'].valid">
                                        <label *ngIf="AddTable.controls['is_available'].hasError('required')" style="color:red;">Select Avalibility</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Table status</label>
                                    <select formControlName="status" class="form-control">
                                        <option value="" [selected]="true">Table Status</option>
                                        <option value="INSERVICE">Inservice</option>
                                        <option value="OUTOFSERVICE">Out of service</option>
                                        
                                    </select>
                                    <div *ngIf="AddTable.controls['status'].touched && !AddTable.controls['status'].valid">
                                        <label *ngIf="AddTable.controls['status'].hasError('required')" style="color:red;">Select table status</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-top: 10px;">
                                    <button type="submit" class="sub_btn btn btn-success" [disabled]="!AddTable.valid"><i class="fa fa-plus"></i> Add Category</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
<!-- model -->

  <div class="col-lg-8 col-md-8">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> All Tables
        <button type="button" class="btn btn-secondary sub_btn pull-right" data-toggle="modal" (click)="largeModal.show()">
            <i class="fa fa-plus"></i> Add Service Table
        </button>
      </div>
      <!-- modal -->
      <div class="card-body" *ngIf="GetTables">
        <ul class="table_list">
          <li *ngFor="let table of GetTables" [ngClass]="{'free': table.is_available=='FREE', 
          'booked': table.is_available=='BOOKED',
          'semi_booked':table.is_available=='PARTIALY BOOKED', 'locked':table.is_available=='LOCKED'}" (click)="TableDetails(table)">{{table.srtbl_no}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- {{TableOrders | json}} -->
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Table Details
      </div>
      <div class="table_details">
        <h3 *ngIf="TableDetail==null">Click on table to see details</h3>
        <!-- {{TableDetail | json}} -->
        <div class="even" *ngIf="TableDetail!=null">
          <h3 class="table_heading_new"><i class="icon-arrow-right-circle"></i> Table No</h3>
          <p><b>{{TableDetail[0].srtbl_no}}</b></p>
        </div>
        <div class="odd" *ngIf="TableDetail!=null">
          <h3><i class="icon-note"></i> Status</h3>
          <p><span [ngClass]="{'free_text': TableDetail[0].is_available=='FREE', 'booked_text': TableDetail[0].is_available=='BOOKED','semi_booked_text':TableDetail[0].is_available=='PARTIALY BOOKED', 'locked_text': TableDetail[0].is_available=='LOCKED'}"><i class="icon-lock" *ngIf="TableDetail[0].is_available=='LOCKED'"></i> {{TableDetail[0].is_available}}</span></p>
        </div>
        <div class="even" *ngIf="TableDetail!=null">
          <h3><i class="icon-arrow-right-circle"></i> Seat Capicity: <strong>{{SeatCap.length}}</strong></h3>
          <ul class="chair_loop">
            <li *ngFor="let item of SeatCap"><img src="../../../../assets/img/table.png" height="35"></li>
          </ul>
        </div>
      </div>
      <div class="orders_list" *ngIf="TableOrders">
        <h3><i class="icon-list"></i> Orders on table</h3>
        <ul>
          <li *ngFor="let orders of TableOrders">
            
              <div class="orders">
                <a [routerLink]="['/dashboard/order/order-details/',orders.id]" class="id_status">
                  <span class="pull-left">{{orders.id}}</span> <span class="pull-right">{{orders.status}}</span> 
                </a>
                <a class="print_icon" title="Print Bill"><i class="fa fa-print"></i></a>
                
              </div>
            
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  