.table_list
{
    list-style-type: none;
    padding: 0;
    
}
.table_list li{
    display: inline-block;
    width: 18%;
    
    text-align: center;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
     
    display:flex;
    justify-content: center;
    align-items: center;
    
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;

}


.table_list li a:hover{
    text-decoration: none;
}
.free{
    background: rgba(179,235,9,1);
    background: -moz-linear-gradient(left, rgba(179,235,9,1) 0%, rgba(103,214,0,1) 69%, rgba(103,214,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,235,9,1)), color-stop(69%, rgba(103,214,0,1)), color-stop(100%, rgba(103,214,0,1)));
    background: -webkit-linear-gradient(left, rgba(179,235,9,1) 0%, rgba(103,214,0,1) 69%, rgba(103,214,0,1) 100%);
    background: -o-linear-gradient(left, rgba(179,235,9,1) 0%, rgba(103,214,0,1) 69%, rgba(103,214,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(179,235,9,1) 0%, rgba(103,214,0,1) 69%, rgba(103,214,0,1) 100%);
    background: linear-gradient(to right, rgba(179,235,9,1) 0%, rgba(103,214,0,1) 69%, rgba(103,214,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3eb09', endColorstr='#67d600', GradientType=1 );
    // border:1px solid #4cae4c;
    cursor: pointer;
}
.booked{
    background: rgba(255,125,102,1);
background: -moz-linear-gradient(left, rgba(255,125,102,1) 0%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,125,102,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(255,125,102,1) 0%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(255,125,102,1) 0%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(255,125,102,1) 0%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(255,125,102,1) 0%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d66', endColorstr='#e73827', GradientType=1 );
    // border-color:1px solid #d43f3a;
    cursor: pointer;
    
}

.table_status
{
    background: #fff;
}

.table_list_new{
        background: #efefef;
}

.table_heading_new
{
    color: #20a8d8;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    
}