<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Staff Role List
        </div>
        <!-- modal -->
        <div class="add_box">
          <div class="button_control">
            <button type="button" class="btn btn-secondary sub_btn" data-toggle="modal" (click)="largeModal.show()">
              <i class="fa fa-plus"></i> Add Staff Role
            </button>
          </div>
          <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="modal_heading">Add Staff Role</h3>
                  <div class="alert alert-success" *ngIf="StaffMsg!=null">{{StaffMsg}}</div>
                  <form [formGroup]="StaffRoleForm" (ngSubmit)="AddStaffRole(StaffRoleForm)">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Outlet Id</label>
                          <input type="number" formControlName="ol_id" class="form-control">
                          <div *ngIf="StaffRoleForm.controls['ol_id'].touched && !StaffRoleForm.controls['ol_id'].valid">
                            <label *ngIf="StaffRoleForm.controls['ol_id'].hasError('required')" style="color:red;">Enter Outlet Id</label>
                            <label *ngIf="StaffRoleForm.controls['ol_id'].hasError('min')" style="color:red;">Id Starts From 1</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label>Staff Title</label>
                          <input type="text" formControlName="title" class="form-control">
                          <div *ngIf="StaffRoleForm.controls['title'].touched && !StaffRoleForm.controls['title'].valid">
                            <label *ngIf="StaffRoleForm.controls['title'].hasError('required')" style="color:red;">Staff Title</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label>Mod Permission</label>
                          <input type="number" formControlName="mod_permission" class="form-control">
                          <div *ngIf="StaffRoleForm.controls['mod_permission'].touched && !StaffRoleForm.controls['mod_permission'].valid">
                            <label *ngIf="StaffRoleForm.controls['mod_permission'].hasError('required')" style="color:red;">Enter Mod Permission</label>
                            <label *ngIf="StaffRoleForm.controls['mod_permission'].hasError('min')" style="color:red;">Id Starts From 1</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="status">Status</label>
                          <select formControlName="status" class="form-control">
                            <option value="" [selected]="true">Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                          </select>
                          <div *ngIf="StaffRoleForm.controls['status'].touched && !StaffRoleForm.controls['status'].valid">
                            <label *ngIf="StaffRoleForm.controls['status'].hasError('required')" style="color:red;">Select Status</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                          <button type="submit" class="sub_btn btn btn-success" [disabled]="!StaffRoleForm.valid">
                            <i class="fa fa-plus"></i> Staff Role</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- modal -->
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Id</th>
                <th>Title</th>
                <th>Mod Permission</th>
                <th>Modified Date</th>
                <th>Created Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let data of StaffRolesList.data | paginate: { itemsPerPage: 10, currentPage: p}'>
                <td>
                  <input type="checkbox" name="checkbox">
                </td>
                <td>{{data.srl_id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.mod_permission}}</td>
                <td>{{data.modifydt | date: 'dd/MM/yyyy'}}</td>
                <td>{{data.createdt | date: 'dd/MM/yyyy'}}</td>
                <td>
                  <span class="badge badge-success">{{data.status}}</span>
                </td>
                <td>
                  <a href="#" title="Add" style="font-size: 16px;
                  margin-right: 10px;">
                    <i class="fa fa-plus-circle"></i>
                  </a>
                  <a href="#" title="Edit" style="font-size: 16px;
                  margin-right: 10px;">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#" title="Delete" style="font-size: 16px;
                  margin-right: 10px;">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
          <!--  <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
