<!-- delete model -->
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Do you really want to delete this Role?</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="dangerModal.hide()" style="border-radius: 0px;">No</button>
        <button type="button" class="btn btn-danger" style="border-radius: 0px;" (click)="ConfirmDialog(roleId,true)">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- delete model -->

<div class="animated fadeIn">
  <ng4-loading-spinner></ng4-loading-spinner>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Staff Role List
        </div>
        <!-- modal -->
        <div class="add_box">
          <div class="button_control">
            <button type="button" class="btn btn-secondary sub_btn" data-toggle="modal" (click)="showModel(largeModal)">
              <i class="fa fa-plus"></i> Add Staff Role
            </button>
          </div>
          <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="modal_heading">Add Staff Role</h3>
                  <div class="alert alert-success" *ngIf="StaffMsg!=null">Staff role has been added successfully</div>
                  <form [formGroup]="StaffRoleForm" (ngSubmit)="AddStaffRole(StaffRoleForm)" *ngIf="StaffMsg==null">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <label>Outlet Name</label>
                          <select formControlName="ol_id" class="form-control">
                              <option [selected]="true" value="">Select Outlet</option>
                              <option value="1">Papa Rancho</option>
                              <option value="2">Trance</option>
                          </select>
                          <div *ngIf="StaffRoleForm.controls['ol_id'].touched && !StaffRoleForm.controls['ol_id'].valid">
                            <label *ngIf="StaffRoleForm.controls['ol_id'].hasError('required')" style="color:red;">Enter Outlet Name</label>
                            <label *ngIf="StaffRoleForm.controls['ol_id'].hasError('min')" style="color:red;">Id Starts From 1</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label>Role Title</label>
                          <input type="text" formControlName="title" class="form-control">
                          <div *ngIf="StaffRoleForm.controls['title'].touched && !StaffRoleForm.controls['title'].valid">
                            <label *ngIf="StaffRoleForm.controls['title'].hasError('required')" style="color:red;">Enter Role title</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6"  style="display: none;">
                          <label>Mod Permission</label>
                          <input type="number" formControlName="mod_permission" class="form-control">
                          <div *ngIf="StaffRoleForm.controls['mod_permission'].touched && !StaffRoleForm.controls['mod_permission'].valid">
                            <label *ngIf="StaffRoleForm.controls['mod_permission'].hasError('required')" style="color:red;">Enter Mod Permission</label>
                            <label *ngIf="StaffRoleForm.controls['mod_permission'].hasError('min')" style="color:red;">Id Starts From 1</label>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <label for="status">Status</label>
                          <select formControlName="status" class="form-control">
                            <option value="" [selected]="true">Status</option>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="INACTIVE">INACTIVE</option>
                          </select>
                          <div *ngIf="StaffRoleForm.controls['status'].touched && !StaffRoleForm.controls['status'].valid">
                            <label *ngIf="StaffRoleForm.controls['status'].hasError('required')" style="color:red;">Select Status</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                          <button type="submit" class="sub_btn btn btn-success" [disabled]="!StaffRoleForm.valid">
                            <i class="fa fa-plus"></i> Add Staff Role</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- modal -->
        <div class="card-body">
          <div class="alert alert-success" *ngIf="DeleteStaff!=null">Staff role has been deleted successfully</div>
          <div class="table-responsive">
            
            <table class="table" width="100%;">
              <thead>
                <tr>
                  <!-- <th></th> -->
                  <!-- <th>Role Id</th> -->
                  <th>Role Title</th>
                  <th>Outlet Name</th>
                  <!-- <th>Mod Permission</th> -->
                  <!-- <th>Modified Date</th> -->
                  <!-- <th>Created Date</th> -->
                  
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let data of StaffRolesList.data | paginate: { itemsPerPage: 10, currentPage: p}'>
                  <!-- <td>
                    <input type="checkbox" name="checkbox">
                  </td> -->
                  <!-- <td>{{data.srl_id}}</td> -->
                  <td>{{data.title}}</td>
                  <td>
                    <span *ngIf="data.ol_id==1">Papa Rancho</span>
                    <span *ngIf="data.ol_id==2">Trance</span>
                  </td>
                  <!-- <td>{{data.mod_permission}}</td> -->
                  <!-- <td>{{data.modifydt | date: 'dd/MM/yyyy'}}</td> -->
                  <!-- <td>{{data.createdt | date: 'dd/MM/yyyy'}}</td> -->
                  
                  <td>
                    <!-- <a href="#" title="Add" style="font-size: 16px;
                    margin-right: 10px;">
                      <i class="fa fa-plus-circle"></i>
                    </a> -->
                    <span title="Edit" style="font-size: 16px;
                    margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" data-toggle="modal" (click)="show(data, largeModal1)"><i class="fa fa-edit"></i></span>
                    <!-- <span title="Delete" style="font-size: 16px;
                    margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" (click)="DeleteStaffRole(data.srl_id)"><i class="fa fa-trash"></i></span> -->
                    <span title="Delete" style="font-size: 16px;
                    margin-right: 10px; color:#20a8d8 !important; cursor: pointer;" (click)="ConfirmDialog(data.srl_id)"><i class="fa fa-trash"></i></span>
                    <span class="badge" [ngClass]="{'badge-success': data.status=='ACTIVE','badge-danger': data.status=='INACTIVE'}"><i class="fa fa-times" *ngIf="data.status=='INACTIVE'"></i>
                      <i class="fa fa-check" *ngIf="data.status=='ACTIVE'"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
          <!--  <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
        <!-- edit modal -->
        <div class="add_box">
          <div bsModal #largeModal1="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" (onShown)='Edit($event)'>
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <h3 class="modal_heading">Edit Staff Role</h3>
                  <div class="alert alert-success" *ngIf="UpdateStaffRoleMsg!=null">Staff Role has been updated successfully!</div>
                  <form [formGroup]="EditForm" (ngSubmit)="UpdateStaffRole(EditForm)">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6" style="display: none;">
                          <label>Staff Role Id</label>
                          <input type="number" formControlName="srl_id" class="form-control" [ngModel]="model.srl_id" readonly>
                        </div>
                        <div class="col-md-12">
                          <label>Outlet Name</label>
                          
                          <select formControlName="ol_id" class="form-control" [(ngModel)]="model.ol_id">
                              <option value="">Select Outlet</option>
                              <option value="1" [selected]="model.ol_id=='1'">Papa Rancho</option>
                              <option value="2" [selected]="model.ol_id=='2'">Trance</option>
                          </select>
                          <div *ngIf="EditForm.controls['ol_id'].touched && !EditForm.controls['ol_id'].valid">
                            <label *ngIf="EditForm.controls['ol_id'].hasError('required')" style="color:red;">Select Outlet Name</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label>Role Title</label>
                          <input type="text" name="" formControlName="title" [ngModel]="model.title" class="form-control">
                          <div *ngIf="EditForm.controls['title'].touched && !EditForm.controls['title'].valid">
                            <label *ngIf="EditForm.controls['title'].hasError('required')" style="color:red;">Enter Title</label>
                          </div>
                        </div>
                        <!-- <div class="col-md-4" style="display: none;">
                          <label>Mod Permission</label>
                          <input type="number" name="" formControlName="mod_permission" [ngModel]="model.mod_permission" class="form-control">
                          <div *ngIf="EditForm.controls['mod_permission'].touched && !EditForm.controls['mod_permission'].valid">
                            <label *ngIf="EditForm.controls['mod_permission'].hasError('required')" style="color:red;">Enter Mod Permission</label>
                          </div>
                        </div> -->
                        <div class="col-md-12">
                          <label for="status">Status</label>
                          <select formControlName="status" class="form-control" [(ngModel)]="model.status">
                            <option value="">Status</option>
                            <option value="ACTIVE" [selected]="model.status=='ACTIVE'">ACTIVE</option>
                            <option value="INACTIVE" [selected]="model.status=='INACTIVE'">INACTIVE</option>
                          </select>
                          <div *ngIf="EditForm.controls['status'].touched && !EditForm.controls['status'].valid">
                            <label *ngIf="EditForm.controls['status'].hasError('required')" style="color:red;">Select Status</label>
                          </div>
                        </div>
                      </div>
                    
                      <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                          <button type="submit" class="sub_btn btn btn-success" [disabled]="!EditForm.valid"><i class="fa fa-edit"></i> Update Staff Role</button>

                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
        </div>
        <!-- edit modal -->
      </div>
    </div>
  </div>
</div>
